.designPhotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
 }

 .designPhotos img {
     display: flex;
     /* max-width: 25em;
     max-height: 25em;
     padding: 1em 1em 3em 1em; */
 }

 .designPhotos img:hover{
    cursor: pointer;
 }

 .designPhotos h5 {
    text-align: center;
    max-width: 15em;
}

.otherPhotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
}

.otherPhotos img {
    display: flex;
    max-width: 10em;
    max-height: 10em;
    padding: 1em 1em 0.5em 0.5em;
}

.react-fancybox .thumbnail img {
    max-width: 1000px !important;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
  }

  .react-fancybox .thumbnail img:hover{
    opacity: 1;
  }
