.members-list{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.tools-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

strong{
    font-family: 'Roboto', sans-serif !important;
}