.card-member {
    position: relative;
    width: 14em !important;
    margin: 1em;
    height: 25em;
    background-size: cover;
    overflow: hidden;
}

.img-member {
    display: flex;
    width: 15em;
    height: 15em;
    transform: translateY(-10%);
}

#card-info {
    position: relative;
    text-align: center;
    padding: 5px 0px;
    font-size: 0.7em;
    flex-direction: column;
    line-break: auto;
    color: black !important;
}